services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: plotcortex_vdb
    ports:
      - "6333:6333" # API port
      - "6334:6334" # gRPC port
    volumes:
      - ./qdrant_storage:/qdrant/storage # Persists data on your local disk
    restart: always

  api:
    container_name: plotcortex_api
    build: ./api # Tells Docker to build the image from the 'api' directory
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data # Mounts your local data folder into the container
    depends_on:
      - qdrant # Ensures qdrant starts before the api
    restart: always

volumes:
  qdrant_storage: